@media (min-width: 768px) {
  .cards {
    .cards__box {
      padding: 10em 2em;
    }
    .cards__card {
      &--one {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
      }
      &--two {
        grid-row: 1 / 2;
        grid-column: 4 / 7;
      }
      &--three {
        grid-row: 1 / 2;
        grid-column: 7 / 10;
      }
    }
  }

  .plans {
    padding: 8em 2em;

    .plans__box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
    }
    .plans__box-item {
      margin: 0 1em;
    }
    .plans__item-name {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
