.newsletter {
  padding: 8em 2em;
  background-color: $red;
  text-align: center;

  .newsletter__text {
    padding: 1em;
    margin-bottom: 1em;
    font-size: 4rem;
    font-weight: 200;
  }

  .newsletter__form {
    input {
      margin-bottom: 1em;
      padding: 1em;
      width: 100%;
      background-color: $white;
      border: 1px solid transparent;
    }

    button {
      padding: 1em;
      border: 1px solid $gold;
      background: none;
      color: $gold;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3, color 0.3s;

      &:hover {
        color: $red;
        background-color: $gold;
      }
    }
  }
}
