@import "./colors";
@import "./animation";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: $white;
  background-color: $dark;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
// font-family: "Cinzel", serif;
@import "./cards";
@import "./header";
@import "./nav";
@import "./invest";
@import "./plans";
@import "./newsletter";
@import "./gallery";
@import "./contact";
@import "./footer";
@import "./small";
@import "./medium";
@import "./large";
